h1{
    color: #FF1493;
    font-weight: 600;
    margin-left: 16px;
    margin-top: 40px;
}
// ion-item{
//     --border-color:var(--ion-color-danger)
// }
h2{
    font-weight: 600;
}
a{
    --color:var(--ion-color-dark)
}
h6{
    margin-left: 16px;
    margin-top: 30px;
}