<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="create-outline"></ion-icon>
      <ion-label>Edit Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>KYC</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="menu-outline"></ion-icon>
      <ion-label>More</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
