<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-menu  menuId="first" side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>Profile</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
     
      <ion-item (click)="editProfile()">
        <ion-icon name="create-outline" slot="start"></ion-icon>
        <ion-label>Edit Profile</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="document-text-outline" slot="start"></ion-icon>
        <ion-label>KYC</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="headset-outline" slot="start"></ion-icon>
        <ion-label>Contact us</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="help-outline" slot="start"></ion-icon>
        <ion-label>Help & Support</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="power-outline" slot="start"></ion-icon>
        <ion-label>Log out</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="medium">
      <ion-buttons slot="start" (click)="openSideMenu()">
        <ion-avatar slot="start" class="avatar">
          <img  src="../../assets/kohli.jpg" />
        </ion-avatar>
        <!-- <ion-icon size="large" slot="start" name="person-circle-outline" ></ion-icon> -->
        <!-- <ion-img src="../../assets/kohli.jpg" class="avatar"></ion-img> -->
      </ion-buttons>
      <ion-title>NYBOR</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content padding>

    <div #map id="map"></div> 
    
    </ion-content>
</div>


