.profile{
    &-list{
        margin: 0 0.5rem;
      }
      &-radio-btn{
        border: 0.05rem solid var(--ion-color-primary);
        border-radius: 0.2rem;
        width:auto;
        text-align: center;
        font-weight: 500;
        text-transform: uppercase;
        color:var(--ion-color-primary);
      }
      &-check{
        &-gender{
          background-color: var(--ion-color-primary);
          color: var(--ion-color-light);
          border: 0.05rem solid var(--ion-color-light);
        }
      }
      

  
}
ion-select{
    border: 0.05rem solid var(--ion-color-primary);
    color: var(--ion-color-primary);
  }